.swag1{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag2{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag3{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag4{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag5{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag6{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag7{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag8{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
.swag9{
    float: left;
    background-color: orange;
    border-radius: 20%;
    padding-left: 31%;
    padding-top: 31%;
    margin:1%;
}
